/* RESET */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e9e9e9;
}

/* HEADER */
@font-face {
  font-family: Annabel;
  src: url(fonts/annabel/annabel\ 1.ttf);
}
@font-face {
  font-family: Gimme;
  src: url(fonts/gimme_danger/Gimme\ Danger.ttf);
  font-weight: bold;
}
.header {
  font-family: Gimme, sans-serif;
  background: url("imagens/default.jpg") center/cover;
  color: white;
  text-align: center;
  padding: 100px 0;
  font-size: 15px;
  position: relative;
  transition: 0.4s;
}

/* ESCURECER FUNDO */
.header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
}

.header h1 {
  position: relative;
  z-index: 1;
}

/* MENU SUPERIOR */
.nav {
  display: flex;
  justify-content: space-around;
  background: #2c2c2c;
}

.nav button {
  background: none;
  border: none;
  color: white;
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
}

.nav button:hover {
  background: blue;

}

/* BOTÃO ☰ */
.menu-toggle {
  position: fixed;
  top: 50px;
  left: 10px;
  background: #e0cfae;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  z-index: 2;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 70px;
  left: 0;
  transform: translateX(-110%);
  width: 200px;
  background: #e0cfae;
  padding: 20px;
  border-radius: 10px;
  transition: 1s;
}

/* MOSTRAR SIDEBAR */
.menu-toggle:hover + .sidebar,
.sidebar:hover {
  transform: translateX(0);
}

/* SIDEBAR ITENS */
.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 5px 0;
}

.sidebar a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.sidebar a:hover {
  background: #cbb896;
}

/* CONTEÚDO */
.content {
  text-align: center;
  margin-top: 50px;
}

/* ABAS */
.tab {
  display: none;
}

.tab.active {
  display: block;
}

.tab:target {
  display: block;
}

main:has(.tab:target) .tab.active {
  display: none;
}

/* ========================= */
/* 🎨 FUNDOS POR ESPORTE */
/* ========================= */

body:has(#home:target) .header {
  background: url("imagens/todos2.png") center/cover;
}
body:has(#futebol:target) .header {
  background: url("imagens/fut.jpeg") center/cover;
}

body:has(#volei:target) .header {
  background: url("imagens/volei.jpeg") center/cover;
}

body:has(#futsal:target) .header {
  background: url("imagens/futSalao.jpg") center/cover;
}

body:has(#futevolei:target) .header {
  background: url("imagens/futevolei.jpeg") center/cover;
}

body:has(#tenis:target) .header {
  background: url("imagens/tenis.jpeg") center/cover;
}

body:has(#praia:target) .header {
  background: url("imagens/praia.jpeg") center/cover;
}

body:has(#basquete:target) .header {
  background: url("imagens/basquete.jpeg") center/cover;
}